#main-header {
    width: 100%;
    max-width: 2048px;
    text-align: left;
    margin: 0px auto;
    padding: 0px 20px;
}

#squares-grid {
    display: grid;
    grid-template-columns: repeat(100, 1fr); 
    grid-gap: 1px;
    width: 1000px;
    height: 1000px;
}

.square {
    width: 100%;
    height: 100%;
    
    animation-name: fade;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in-out;
}

@keyframes fade {
    0% { opacity: 0; }
    50% { opacity: 0.75; }
    100% { opacity: 1; }
}

.container {
    display: flex;
    align-items: top;
    justify-content: left;
    max-width: 2048px;
    width: 100%;
    margin: 0px auto;
    padding: 0px 20px;
}

#grid-container {
    width: 80%;
    max-width: 1800px;
    display: flex;
    align-items: top;
    justify-content: left;
    overflow: scroll;
}

#control-panel {
    max-width: 450px;
    min-height: 800px;
    width: 15%;
    display: inline;
    background-color: #eee;
    margin-right: 20px;
    padding: 10px;
    border: 2px solid #777;
}

#control-panel h2 {
    margin-top: 5px;
    padding-top: 0px;
}

#control-panel label {
    display: block;
    padding-bottom: 10px;
}

#control-panel input {
    margin-left: 5px;
}